.idea/workspace.xml
/.idea
/proyectoFinal/.idea
/proyectoFinal/.project
/proyectoFinal/src/test
proyectoFinal/DataBase/Historial/Historial_luisjaperez0106@gmail.com.txt
proyectoFinal/DataBase/Wishlist/Wishlist_luisjaperez0106@gmail.com.txt
