.background {
  -fx-background-color: #e8d8d3;
}
 /* NOTE: header */
.top {
  -fx-background-color: #BA9288;
  -fx-effect: innershadow(gaussian, rgba(0,0,0,0.25), 0, 0, 0, -4);
}
#buscador {
  -fx-border-color:black;
  -fx-effect: innershadow(gaussian, rgba(0,0,0,0.25),0,0,4,4);
}
.left_square {
  -fx-background-color: #BEB4B4;
  -fx-background-radius: 24px;
  -fx-border-color: black;
  -fx-border-radius:24px;
  -fx-effect: innershadow(gaussian, rgba(0,0,0,0.25),0,0,-7,-7);
}
#left_square_title {
  -fx-font-size: 48px;
}
