.background {
  -fx-background-color: #D7C8C5;
}
.scroll_pane {
  -fx-background-color :#D7C8C5;
  -fx-background-insets: 0;
  -fx-padding: 0;
}
.scroll_pane > .viewport {
  -fx-background-color : #D7C8C5;
}
.top_bar {
  -fx-background-color:#AF857A;
}
.profile, .wishlist {
  -fx-background-color: #C17062;
  -fx-border-color: black;
  -fx-border-radius:24px;
  -fx-background-radius:24px;
  -fx-effect: innershadow(gaussian, rgba(0,0,0,0.25),0,0,-9,-9);
}
